<!DOCTYPE html>
<html>
<head>
<title>Login page</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<style>
input.ng-invalid {
    background-color: lightblue;
}
</style>
<body background="https://www.edx.org/sites/default/files/designthining_mm_thumbnail.jpg">
<font size="5" color="black">
<div ng-app=" ">
<center><h1>Login Form</h1></center>
Name: <input type="text" ng-model="name" placeholder="Enter name here"><br/>
<p>Father's Name: <input type="text" ng-model="name" placeholder="Enter name here">
Mother's Name:<input type="text" ng-model="name" placeholder="Enter name here"></p>
<p>Mobile No: <input type="number" ng-model="number"></p>
<p>Gender: <input type="radio" name="gender" value="male">Male
     	 <input type="radio" name="gender" value="female"> Female
</p
<p>Emali address:<input type="text" placeholder="Enter your email"></p> 
</div>
</font>
</body>
</html>